extends: default

rules:
  braces: disable
  brackets: disable
  comments:
    min-spaces-from-content: 1
  document-start: disable
  empty-lines:
    max: 2
    max-start: 1
    max-end: 1
  indentation:
    spaces: 2
    indent-sequences: true
  line-length: disable
  truthy:
    check-keys: false
