[Unit]
Description=Prometheus Node Exporter
Documentation=https://github.com/prometheus/node_exporter
After=network.target

[Service]
Type=simple
User=node_exporter
Group=node_exporter
EnvironmentFile=-/etc/default/node-exporter
ExecStart=/usr/bin/node_exporter $NODE_EXPORTER_OPTS
Restart=on-failure
RestartSec=5s

ProtectHome=yes
ProtectSystem=full
ProtectControlGroups=yes
ProtectKernelModules=yes
NoNewPrivileges=yes
RestrictSUIDSGID=yes
PrivateTmp=yes
RestrictRealtime=yes
LockPersonality=yes

SyslogIdentifier=node_exporter

[Install]
WantedBy=multi-user.target
